
.login-container{
    max-width:400px;
    margin:0px auto;
    border-radius:16px;
    padding-bottom:15px;
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
    height:100vh;
}

.login-main-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px 40px;
    gap:10px;
}

.login-input-card{
    display: flex;
    flex-direction: column;
    gap:2px;
    margin-top:10px;
}

.login-label{
    font-family:"Roboto";
    font-size:12px;
    font-weight:600;
    color: #5b5959;
}

.login-input{
    padding:10px;
    font-family:"Roboto";
    font-size:16px;
    font-weight: 500;
    outline:none;
    border-radius:10px;
    color: #6B7280;
    border: 2px solid #bcbdc0;
    width:320px;
}

.login-submit-card{
    background-color: #14213D;
    width:300px;
    padding:10px;
    border-width:0px;
    outline:none;
    cursor:pointer;
    font-family: "Roboto";
    font-size:20px;
    color: #ffffff;
    border-radius: 10px;
    margin-top:10px;
}

.login-alternative-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    width:100%;
    margin-top: 20px;;
}

.login-horizontal{
    border:1px solid #9a9ea6;
    width:50%;
}

.login-alredy-account{
    color: #6B7280;
    font-family:"Roboto";
    font-size:13px;
     margin-top: 40px;
}

.login-alredy-account-register{
    color: #14213D;
    font-family:"Roboto";
    font-size:13px;
    font-weight:600;
    cursor:pointer;
    text-decoration: none;
   
}

.login-error{

    color: #c62d03;
    font-family:"Roboto";
    font-size:13px;
    margin-top: 40px;

}