
.request-page-container{
    max-width: 400px;
    margin: 0px auto;
    padding: 10px 0px;
    border: 1px solid #E3E2DD;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background-size:cover;
}



.request-page-main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    flex:1;
    padding:10px 10px;
    width:100%;
}

.request-page-category-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
    width: 100%;
    list-style-type:none;

}

.request-page-category-button{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:10px;
   padding: 10px;
   border: 2px solid #bcbdc0;
   border-radius: 10px;
   width:160px;
   cursor:pointer;
   transition: 0.2s ease;

}
.request-page-category-button:hover{
    transform: scale(1.02);
}

.request-page-category-button-selected{
    background-color: #a2a0a0
}



.categoryIcon{
    color: #E63946;
    font-size: 30px;
}
.request-page-category-name{
    font-family:"Roboto";
    font-size:20px;
    font-weight: 500;

}

.request-page-input-card{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.request-page-input-label{
    color: #6B7280;
    font-family:"Roboto";
    font-weight:600;
    font-size: 20px;

}

.request-page-input{
    padding:10px;
    font-family:"Roboto";
    font-size:18px;
    font-size: 500;
    outline:none;
    border-radius:10px;
    color: #5b5959;
    border: 2px solid #bcbdc0;
    width:300px;
}

.request-page-urgency{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:15px;

}

.request-page-urgency-heading{
    color: #6B7280;
    font-family:"Roboto";
    font-weight:600;
    font-size: 20px;
    align-self: flex-start;
}

.request-page-urgency-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    list-style-type: none;
}

.request-page-urgency-button{
    border: 2px solid #bcbdc0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px;
    cursor:pointer;
    outline:none;
    width:100px;
    transition: 0.2s ease;
    background-color: transparent;
   
}

.request-page-urgency-button:hover{
    transform: scale(1.02);
}

.request-page-urgency-button-selected{
     background-color: #E63946;
    .request-page-urgency-select{
     color:#ffffff;

}
}
    


.request-page-urgency-select{
    color:#6B7280;
    font-family: "Roboto";
    font-size:20px;
    font-weight:500;
}


.request-page-button{
    background-color: #14213D;
    color: #ffffff;
    font-family:"Roboto";
    font-size: 20px;
    font-weight: 600;
    padding:10px;
    border-radius:15px;
    cursor:pointer;
    transition: 0.2s;
    :hover{
        transform: translateY(-5px);
    }
}

.request-page-button-card{
    display: flex;
    justify-content: center;
    width: 100%;
}



/* @media screen and (max-width:769px){
    .request-page-category-card{
        width:150px;
    }
    .request-page-category-container{
        gap:10px;
    }

    .request-page-input{
        width:300px;
    }
    .request-page-urgency-card{
        width: 150px;
    }
    .request-page-button-card{
        justify-content: center;
    }
    .request-page-button{
        padding: 10px 10px;
        font-size:18px;
    }
} */
